/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #121111; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00ff00; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: green; 
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
    vertical-align: top;
}

.custom-toggler.navbar-toggler {
    border-color: #00ff00;
    border-width: 4px;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 255, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-item{
    padding-left: 15px;
    padding-right: 15px;
}

.nav-link {
    color: white;
    
}

.nav-item>a:hover {
    color: green;
}

.navbar-nav>.active>a {
    /* background-color: #C0C0C0; */
    color: #00ff00;
}

.navbar-brand:hover {
    color: #00ff00;
}

.navbar-brand {
    font-size: 50px;
    font-weight: 500;
    font-family: 'Joan', serif;
    word-spacing: 0.2em;
}

.nav-link {
    font-size: 30px;
    font-weight: 350;
    font-family: 'Joan', serif;
}

.navbar-toggler .navbar-toggler-icon {
    width: 40px !important;
    height: 40px !important;
}

.custom-home {
    flex-direction: column !important;
    position: relative;
    animation-name: intro;
    animation-duration: 2s;  
    animation-fill-mode: forwards;
}

@media (max-width: 990px) {

    .nav-link {
        font-size: 30px;
        font-weight: 300;
    }

    .custom-row {
        flex-direction: column !important;
    }

    .custom-home {
        padding-top: 50px;
    }
    
}

@media (max-width: 479px) {

    .navbar-brand {
        font-size: 35px;
        font-weight: 500;
    }

    .nav-link {
        font-size: 25px;
        font-weight: 300;
    }

    .navbar-toggler .navbar-toggler-icon {
        width: 30px !important;
        height: 30px !important;
    }
    
}

.img-thumbnail {
    /* border: 1; */
    background-color: #00ff00;
    padding: 0;
    border-color: #00ff00;
    border-width: 2px;
    position: relative;
    animation-name: image;
    animation-duration: 2s;  
    animation-fill-mode: forwards;
}

.custom-profile {
    margin: auto;
}

#head-home_1 {
    /* padding-top: 50px; */
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'Joan', serif;
}

#head-home_2 {
    text-align: center;
    color: #00ff00;
    font-size: 70px;
    font-family: 'Joan', serif;
}

#head-home_3 {
    text-align: center;
    color: white;
    padding: 37px 37px 10px 37px;
    font-size: 27px;
    text-align: justify;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.custom-resume{
    padding-top: 50px;
    position: relative;
    animation-name: resume;
    animation-duration: 2s;  
    animation-fill-mode: forwards;
}

#head-resume_1 {
    text-align: center;
    color: white;
    padding: 25px;
    font-size: 35px;
    /* text-align: justify; */
    font-style: italic;
    font-family: 'Gentium Plus', serif;
}

@media (max-width: 990px) {
    #head-resume_1{
        padding: 15px;
        padding-top: 0px;
    }

    #head-home_3{
        padding: 50px;
    }

    #head-home_3{
        padding: 30px;
        padding-bottom: 0px;
    }
}


#head-resume_2 {
    text-align: center;
    color: white;
    font-size: 40px;
    font-style: italic;
    font-family: 'Joan', serif;
    font-variant: small-caps;
}

#head-resume_3 {
    position: relative;
    text-align: center;
    font-size: 4vw;
    color: #121111;
    -webkit-text-stroke: 0.1vw #00ff00;
    text-transform: uppercase;
}

#head-resume_3::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    left: 0;
    top: 0;
    height: 100%;
    color: #00ff00;
    -webkit-text-stroke: 0vw #00ff00;
    border-right: 2px solid #00ff00;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

.custom-profile-icons{
    display: flex;
    justify-content: center;
}

#profile-icon{
    position: relative;
    height: 35px;
    width: 35px;
    margin: 15px;
    margin-bottom: 0px;
    color: white;
    text-align: center;
}

@keyframes animate {
    0%, 10%, 100% {
        width: 0;
    }
    70%, 90% {
        width: 100%;;
    }
}


#link-resume {
    text-decoration: none;
    color: #00ff00; 
    font-style: normal;
}

@keyframes image {
    from {left: -1000px;}
    to {left: 0px;}
  }

@keyframes intro {
    from {right: -1000px;}
    to {right: 0px;}
  }



#skill{
    padding: 50px;
    padding-bottom: 20px;
    display: flex;
    float: center;
    /* text-align: center; */
    justify-content: center;
    position: relative;
    animation-name: resume;
    animation-duration: 2s;  
    animation-fill-mode: forwards;
}

#project{
    padding: 50px;
    padding-bottom: 20px;
    display: flex;
    float: center;
    /* text-align: center; */
    justify-content: center;
    position: relative;
    /* animation-name: resume;
    animation-duration: 2s;  
    animation-fill-mode: forwards; */
}

#skill-img{
    height: 60px;
    width: 60px;
    color: #049fee;
    stroke-width: 0.6;
    stroke: #049fee;
    -webkit-animation:skill 2s linear infinite;
    -moz-animation:skill 2s linear infinite;
    animation:skill 2s linear infinite;
}

#journey-img{
    margin-top: 7px;
    height: 50px;
    width: 45px;
    color: #049fee;
    stroke-width: 0.6;
    stroke: #049fee;
    -webkit-animation-name: spinner; 
    -webkit-animation-timing-function: linear; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-duration: 2s; 
    animation-name: spinner; 
    animation-timing-function: linear; 
    animation-iteration-count: infinite; 
    animation-duration: 2s; 
    -webkit-transform-style: preserve-3d; 
    -moz-transform-style: preserve-3d; 
    -ms-transform-style: preserve-3d; 
    transform-style: preserve-3d;
    
    -webkit-transform-origin: center center; 
}

  /* WebKit and Opera browsers */ @-webkit-keyframes spinner { 
    from 
    { 
        -webkit-transform: rotateY(0deg); 
    } 
    to { 
        -webkit-transform: rotateY(-360deg); 
    } 
} /* all other browsers */ 
@keyframes spinner { 
    from { 
        -moz-transform: rotateY(0deg); 
        -ms-transform: rotateY(0deg); 
        transform: rotateY(0deg); 
    } 
    to 
    { 
        -moz-transform: rotateY(-360deg); 
        -ms-transform: rotateY(-360deg); 
        transform: rotateY(-360deg); 
    
    } 
}

#project-img{
    height: 60px;
    width: 60px;
    color: white;
    stroke-width: 0.6;
    stroke: white;
    -webkit-animation:skill 2s linear infinite;
    -moz-animation:skill 2s linear infinite;
    animation:skill 2s linear infinite;
}

#head-skill_1 {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: 'Joan', serif;
}

#head-project_1 {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: 'Joan', serif;
}

#head-journey_1 {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: white;
    font-size: 55px;
    font-family: 'Joan', serif;
}


@media (max-width: 410px) {

    

    #project{
        padding: 0px;
        padding-bottom: 20px;
        display: flex;
        float: center;
        /* text-align: center; */
        justify-content: center;
        position: relative;
        /* animation-name: resume;
        animation-duration: 2s;  
        animation-fill-mode: forwards; */
    }

    #head-project_1 {
        /* padding-left: 10px; */
        /* padding-right: 10px; */
        text-align: center;
        color: white;
        font-size: 30px;
        font-family: 'Joan', serif;
    }

    #head-journey_1 {
        padding-left: 5px;
        padding-right: 0px;
        text-align: center;
        color: white;
        font-size: 30px;
        font-family: 'Joan', serif;
    }

    #project-img{
        height: 20px;
        width: 20px;
        color: white;
        stroke-width: 0.6;
        stroke: white;
        -webkit-animation:skill 2s linear infinite;
        -moz-animation:skill 2s linear infinite;
        animation:skill 2s linear infinite;
    }

    #journey-img{
        height: 25px;
        width: 15px;
    }
}

@media (max-width: 305px) {
    #head-project_2{
        display: none;
    }

    #head-journey_2{
        display: none;
    }
}

#git svg:hover{
    color: #F1502F;
}

#linkedin svg:hover{
    color: #0e76a8;
}

#mail svg:hover{
    color: #BB001B;
}

#instagram svg:hover{
    color: #E1306C;
}

#twitter svg:hover{
    color: #00acee;
}


#head-skill_1:hover{
    color: #00ff00;
}

#head-project_1:hover{
    color: #00ff00;
}

#head-journey_1:hover{
    color: #00ff00;
}

#skill-img:hover{
    color: #00ff00;
    stroke: #00ff00;
}

#journey-img:hover{
    color: #00ff00;
    stroke: #00ff00;
}

#head-skill_2 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Joan', serif;
}

#head-skill_2:hover{
    color: #00ff00;
}

#logo_1{
    /* display: flex;
    float: center; */
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
    /* animation-name: logo_1;
    animation-duration: 4s;  
    animation-fill-mode: forwards; */
}

@keyframes logo_1 {
    from {left: -1000px;}
    to {left: 0px;}
  }

#logo_2{
    /* display: flex;
    float: center; */
    text-align: center;
    position: relative;
    padding-bottom: 70px;
    padding-top: 20px;
    /* animation-name: logo_2;
    animation-duration: 4s;  
    animation-fill-mode: forwards; */
}



@keyframes logo_2 {
    from {right: -1000px;}
    to {right: 0px;}
  }

#skill-logo{
    height: 90px;
    width: 90px;
    margin: 30px;
}

@media (max-width: 1400px) {
    #skill-logo{
        height: 80px;
        width: 80px;
        margin: 20px;
        margin-bottom: 25px;
        margin-top: 25px;
        
    }
}

@media (max-width: 1200px) {
    #skill-logo{
        height: 70px;
        width: 70px;
        margin: 15px;
        margin-bottom: 25px;
        margin-top: 25px;
    }
}

@media (max-width: 990px) {
    #skill-logo{
        height: 80px;
        width: 80px;
        margin: 40px;
        margin-bottom: 25px;
        margin-top: 25px;
    }

    #logo_1{        
        padding-bottom: 0px;
    }

    #logo_2{
        padding-top: 0px;
    }
}

@media (max-width: 765px) {
    #skill-logo{
        height: 60px;
        width: 60px;
        margin: 20px;
        margin-bottom: 25px;
        margin-top: 25px;
    }

    #logo_1{        
        padding-bottom: 0px;
    }

    #logo_2{
        padding-top: 0px;
    }
}

@media (max-width: 480px) {
    #skill-logo{
        height: 50px;
        width: 50px;
        margin: 15px;
        margin-bottom: 25px;
        margin-top: 25px;
    }

    #logo_1{        
        padding-bottom: 0px;
    }

    #logo_2{
        padding-top: 0px;
    }
}




@keyframes resume {
    from {bottom: -500px;}
    to {bottom: 0px;}
  }


@-moz-keyframes skill { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes skill { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes skill { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.custom-card{
    background-color: #121111;
}

.custom-card-journey{
    background-color: #000000;
    max-width: 1000px;
    float: center;
}

.custom-card-row{
    display: flex;
    /* justify-content: space-between; */
}

#folder-icon{
    position: relative;
    height: 35px;
    width: 35px;
    margin-top: 20px;
    margin-left: 20px;
    color: #00ff00;
    stroke-width: 0.5;
    stroke: #00ff00;
}

#github-icon{
    position: relative;
    height: 30px;
    width: 30px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 20px;
    color: #ffffff;
}

#goto-icon{
    position: relative;
    height: 25px;
    width: 25px;
    margin-top: 20px;
    margin-right: 20px;
    color: #ffffff;
}

#head-card{
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

#body-card{
    margin-top: 30px;
    color: #8A8A8A;
}

.project-domain{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    color: #8A8A8A;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
}

#domain-list{
    margin: 5px;
}

.custom-project{
    padding: 30px 100px 30px 100px;
}

@media (max-width: 1300px) {
    .custom-project{
        padding: 30px 80px 30px 80px;
    }
}

@media (max-width: 990px) {
    .custom-project{
        padding: 30px 50px 30px 50px;
    }
}

@media (max-width: 763px) {
    .custom-project{
        padding: 30px 10px 30px 10px;
    }
}


@media (max-width: 533px) {

    #head-home_1 {
        font-size: 40px;
    }
    
    #head-home_2 {
        font-size: 50px;
        padding-bottom: 00px;
    }

    #profile-icon{
        position: relative;
        height: 35px;
        width: 35px;
        margin: 15px;
        color: white;
        text-align: center;
        margin-bottom: 50px;
    }

    #head-home_3{
        padding: 0px;
        padding-bottom: 0px;
        font-size: 20px;
    }

    #head-resume_1{
        padding: 0px;
        padding-top: 0px;
        font-size: 25px;
    }

    #head-resume_2{
        padding-top: 20px;
    }

    #head-skill_2{
        font-size: 25px;
        padding-left: 0px;
        padding-right: 0px;
    }

    #head-project_1 {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        color: white;
        font-size: 40px;
        font-family: 'Joan', serif;
    }

    #head-journey_1 {
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        color: white;
        font-size: 40px;
        font-family: 'Joan', serif;
    }

    #project-img{
        height: 40px;
        width: 40px;
        color: white;
        stroke-width: 0.6;
        stroke: white;
        -webkit-animation:skill 2s linear infinite;
        -moz-animation:skill 2s linear infinite;
        animation:skill 2s linear infinite;
    }

    #journey-img{
        margin-top: 4px;
        height: 40px;
        width: 30px;
    }
}

@media (max-width: 439px) {
        #head-skill_1{
            padding-left: 10px;
            padding-right: 10px;
            font-size: 50px;
        }
    
        #head-project_1{
            padding-left: 10px;
            padding-right: 10px;
            font-size: 40px;
        }
    
        #head-journey_1{
            padding-left: 5px;
            padding-right: 0px;
            font-size: 40px;
        }
    
        #skill-img{
            height: 50px;
            width: 50px;
        }
    
        #journey-img{
            /* height: 50px;
            width: 50px; */
            margin-top: 4px;
            height: 40px;
            width: 30px;
        }
    
        #project-img{
            height: 50px;
            width: 50px;
        }
    
        #skill-logo{
            height: 52px;
            width: 52px;
            margin: 12px;
            margin-bottom: 25px;
            margin-top: 25px;
        }
    
        #logo_1{        
            padding-bottom: 0px;
        }
    
        #logo_2{
            padding-top: 0px;
        }
    }
    
@media (max-width: 382px) {
        #skill-logo{
            height: 40px;
            width: 40px;
            margin: 15px;
            margin-bottom: 25px;
            margin-top: 25px;
        }

        #profile-icon{
            position: relative;
            height: 30px;
            width: 30px;
            margin: 10px;
            color: white;
            text-align: center;
            margin-bottom: 50px;
        }
    
        #logo_1{
            padding: 0px;
        }
    
        #logo_2{
            padding: 0px;
            padding-bottom: 30px;
        }
    }

@media (max-width: 350px) {
        #skill-logo{
            height: 40px;
            width: 40px;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 25px;
            margin-top: 25px;
        }
    }


    .timeline-section{
        /* background-color: #24292d; */
        /* min-height: 100vh; */
        padding: 15px 15px;
    }
    .timeline-items{
        max-width: 1200px;
        margin:auto;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
    .timeline-items::before{
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: gray;
        left: calc(50% - 1px);
    }
    .timeline-item{
        margin-bottom: 40px;
        width: 100%;
        position: relative;
    }
    .timeline-item:last-child{
        margin-bottom: 0;
    }
    .timeline-item:nth-child(odd){
        padding-right: calc(50% + 30px);
        text-align: right;
    }
    .timeline-item:nth-child(even){
        padding-left: calc(50% + 30px);
    }
    .timeline-dot{
        height: 16px;
        width: 16px;
        background-color: #00ff00;
        position: absolute;
        left: calc(50% - 8px);
        border-radius: 50%;
        top:10px;
    }
    .timeline-date{
        font-size: 30px;
        color: #00ff00;
        margin: -5px 0 15px;
    }
    .timeline-content{
        background-color: #000000;
        padding: 30px;
        border-radius: 5px;
    }
    .timeline-content h3{
        font-size: 30px;
        color: #ffffff;
        margin:0 0 10px;
        text-transform: capitalize;
        font-weight: 500;
    }
    .timeline-content p{
        color: #c8c8c8;
        font-size: 20px;
        font-weight: 300;
        line-height: 22px;
    }
    
    /* responsive */
    @media(max-width: 767px){
        .timeline-items::before{
            left: 7px;
        }
        .timeline-item:nth-child(odd){
            padding-right: 0;
            text-align: left;
        }
        .timeline-item:nth-child(odd),
        .timeline-item:nth-child(even){
            padding-left: 37px;
        }
        .timeline-dot{
            left:0;
        }
    }


#more-projects{
        display: none;
        font-style: italic;
    }

#less-projects{
        display: none;
        font-style: italic;
    }

@media (max-width: 763px) {
    #more-projects{
        display: block;
        text-align: center;
    }    
    
    #more-projects:hover{
        color: #00ff00;
        cursor: pointer;
    }

    #less-projects{
        display: none;
        text-align: center;
    }    
    
    #less-projects:hover{
        color: #00ff00;
        cursor: pointer;
    }

    .custom-col:nth-child(n+3){
        display: none;
    }

    .custom-col-2{
        display: block;
    }
}

#project-start{
    position: relative; 
    top: -120px; 
    visibility: hidden;
}