.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
    vertical-align: top;
}

.custom-toggler.navbar-toggler {
    border-color: #00ff00;
    border-width: 4px;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 255, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
    color: white;
}

.nav-item>a:hover {
    color: green;
}

.navbar-nav>.active>a {
    /* background-color: #C0C0C0; */
    color: #00ff00;
}

.navbar-brand:hover {
    color: #00ff00;
}

.navbar-brand {
    font-size: 50px;
    font-weight: 500;
    font-family: 'Joan', serif;
    word-spacing: 0.2em;
}

.nav-link {
    font-size: 30px;
    font-weight: 350;
    font-family: 'Joan', serif;
}

.navbar-toggler .navbar-toggler-icon {
    width: 40px !important;
    height: 40px !important;
}

.custom-home {
    flex-direction: column !important;
    position: relative;
    animation-name: intro;
    animation-duration: 2s;  
    animation-fill-mode: forwards;
}

@media (max-width: 990px) {

    .nav-link {
        font-size: 30px;
        font-weight: 300;
    }

    .custom-row {
        flex-direction: column !important;
    }

    .custom-home {
        padding-top: 100px;
    }
    
}

@media (max-width: 479px) {

    .navbar-brand {
        font-size: 35px;
        font-weight: 500;
    }

    .nav-link {
        font-size: 25px;
        font-weight: 300;
    }

    .navbar-toggler .navbar-toggler-icon {
        width: 30px !important;
        height: 30px !important;
    }
    
}

.img-thumbnail {
    /* border: 1; */
    background-color: #00ff00;
    padding: 0;
    border-color: #00ff00;
    border-width: 4px;
    position: relative;
    animation-name: image;
    animation-duration: 2s;  
    animation-fill-mode: forwards;
}

.custom-profile {
    margin: auto;
}

#head-home_1 {
    /* padding-top: 50px; */
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'Joan', serif;
}

#head-home_2 {
    text-align: center;
    color: #00ff00;
    font-size: 70px;
    font-family: 'Joan', serif;
}

#head-home_3 {
    text-align: center;
    color: white;
    padding: 50px;
    font-size: 27px;
    text-align: justify;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.custom-resume{
    padding-top: 50px;
    position: relative;
    animation-name: resume;
    animation-duration: 2s;  
    animation-fill-mode: forwards;
}

#head-resume_1 {
    text-align: center;
    color: white;
    padding: 25px;
    font-size: 35px;
    /* text-align: justify; */
    font-style: italic;
    font-family: 'Gentium Plus', serif;
}

#head-resume_2 {
    text-align: center;
    color: white;
    font-size: 40px;
    font-style: italic;
    font-family: 'Joan', serif;
    font-variant: small-caps;
}

#head-resume_3 {
    position: relative;
    text-align: center;
    font-size: 4vw;
    color: #121111;
    -webkit-text-stroke: 0.1vw #00ff00;
    text-transform: uppercase;
}

#head-resume_3::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    left: 0;
    top: 0;
    height: 100%;
    color: #00ff00;
    -webkit-text-stroke: 0vw #00ff00;
    border-right: 2px solid #00ff00;
    overflow: hidden;
    animation: animate 6s linear infinite;
}


@keyframes animate {
    0%, 10%, 100% {
        width: 0;
    }
    70%, 90% {
        width: 100%;;
    }
}


#link-resume {
    text-decoration: none;
    color: #00ff00; 
    font-style: normal;
}

@keyframes image {
    from {left: -1000px;}
    to {left: 0px;}
  }

@keyframes intro {
    from {right: -1000px;}
    to {right: 0px;}
  }

@keyframes resume {
    from {bottom: -500px;}
    to {bottom: 0px;}
  }